.margines-top{
	margin-top: 50px;
}
.navbar-default{
	color: FF5500;
}
.panel{
	display: inline-block;
}
.abastra{
	height: 200px;
	width: 120%;
}
label{
    width: 100%;
	padding: 5px;
    text-align: center;
}
input{
	width: 100%;
	height: 4%;
	text-align: center;
}
input[type=text]:focus{
	background-color: lightblue;
	text-align: center;
}
Dropdown{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
#tContainer{
	margin: auto;
    width: 100%;
    padding: 8px;
    text-align: center;
    
}
#input2{
	width: 100%;
	border-style: 1px solid black;
}
#addInvoice,#removeInvoice{
	width: 100%;
}
.mainContainer{
	margin: 0 auto;
	width: 100%
}
.Numbers{
	width: 7%;
	margin-left: 5px;
}
.Street{
	width: 69%;	
}
.TextArea{
	width: 100%;
}
.dataId{
	width: 49%;
}
.AdresStyle{
	width: 49%;
}
.PostalCodeStyle{
	width: 12%;
}
.jsTable{
	border: 1px;
	width: 100%;
}
thead{
	padding: 5px auto;
}
.jsclass{
	width: 25%;
}
.dropDownCustomers{
	width: 80%;
	height: 35px;
	text-align: center;
}
.tableDuing{
	width: 100%;
}
.prawo{
	float: right;
}