.margines-top{
	margin-top: 50px;
}
.navbar-default{
	color: FF5500;
}
.panel{
	display: inline;
}
.abastra{
	background: url("abastra1.png");
	padding-right: 35px;
	height: 230px;

	width: 50%;
}
label{
    width: 100%;
	padding: 5px;
    text-align: center;
}
input{
	width: 100%;
	height: 4%;
	text-align: center;
}
input[type=text]:focus{
	background-color: lightblue;
	text-align: center;
}
Dropdown{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
#tContainer{
	margin: auto;
    width: 100%;
    padding: 5px;
    text-align: center;
}
#input2{
	width: 100%;
	border: 1px solid black
}
#addInvoice,#removeInvoice{
	width: 100%;
}
.mainContainer{
	margin: 0 auto;
	width: 1000px;
}
.Numbers{
	width: 5%;
	margin-left: 5px;
}
.Street{
width: 50%;	
}
.TextArea{
	width: 100%;
}
.dataId{
	width: 291px;
}
.AdresStyle{
	width: 49%;
}
.PostalCodeStyle{
	width: 10%;
}
